USE [master]
GO
/****** Object:  Database [PersonalFinanceDB]    Script Date: 3/28/2026 5:37:32 PM ******/
CREATE DATABASE [PersonalFinanceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonalFinanceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PersonalFinanceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonalFinanceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PersonalFinanceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalFinanceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalFinanceDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/28/2026 5:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [varchar](7) NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Balance] [decimal](18, 2) NULL,
	[AccountType] [nvarchar](50) NULL,
	[BankDetail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 3/28/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [varchar](7) NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[CategoryID] [varchar](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/28/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](7) NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryType] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 3/28/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[DebtID] [varchar](7) NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[PersonName] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[InterestRate] [float] NULL,
	[StartDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[DebtType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[AccountID] [varchar](7) NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DebtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/28/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransID] [varchar](7) NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[AccountID] [varchar](7) NOT NULL,
	[CategoryID] [varchar](7) NULL,
	[DebtID] [varchar](7) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransType] [nvarchar](20) NOT NULL,
	[TransDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/28/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](7) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountID], [UserID], [AccountName], [Balance], [AccountType], [BankDetail]) VALUES (N'ACC001', N'USER001', N'Ví tiền mặt', CAST(89978000.00 AS Decimal(18, 2)), N'Cash', NULL)
INSERT [dbo].[Accounts] ([AccountID], [UserID], [AccountName], [Balance], [AccountType], [BankDetail]) VALUES (N'ACC002', N'USER001', N'MB Bank', CAST(6388750.00 AS Decimal(18, 2)), N'Bank', N'MB Bank')
INSERT [dbo].[Accounts] ([AccountID], [UserID], [AccountName], [Balance], [AccountType], [BankDetail]) VALUES (N'ACC003', N'USER001', N'Momo', CAST(3164144.00 AS Decimal(18, 2)), N'E-Wallet', N'Momo')
GO
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [Amount], [Month], [Year]) VALUES (N'B001', N'USER001', N'C002', CAST(2000000.00 AS Decimal(18, 2)), 3, 2026)
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [Amount], [Month], [Year]) VALUES (N'B002', N'USER001', N'C003', CAST(1000000.00 AS Decimal(18, 2)), 3, 2026)
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [Amount], [Month], [Year]) VALUES (N'B003', N'USER001', N'C004', CAST(1500000.00 AS Decimal(18, 2)), 3, 2026)
GO
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [CategoryType], [Note]) VALUES (N'C001', N'USER001', N'Lương', N'Income', NULL)
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [CategoryType], [Note]) VALUES (N'C002', N'USER001', N'Ăn uống', N'Expense', NULL)
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [CategoryType], [Note]) VALUES (N'C003', N'USER001', N'Đi lại', N'Expense', NULL)
GO
INSERT [dbo].[Debts] ([DebtID], [UserID], [PersonName], [Amount], [InterestRate], [StartDate], [DueDate], [DebtType], [Status], [AccountID], [PaidAmount]) VALUES (N'DEB001', N'USER001', N'Nguyễn Văn A', CAST(1000000.00 AS Decimal(18, 2)), 1, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-06-16T00:00:00.000' AS DateTime), N'Đi vay', N'Finished', N'ACC001', CAST(1010000.00 AS Decimal(18, 2)))
INSERT [dbo].[Debts] ([DebtID], [UserID], [PersonName], [Amount], [InterestRate], [StartDate], [DueDate], [DebtType], [Status], [AccountID], [PaidAmount]) VALUES (N'DEB002', N'USER001', N'Trần Văn B', CAST(1500000.00 AS Decimal(18, 2)), 0.05, CAST(N'2026-03-10T00:00:00.000' AS DateTime), CAST(N'2026-05-10T00:00:00.000' AS DateTime), N'Cho mượn', N'Finished', N'ACC002', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Debts] ([DebtID], [UserID], [PersonName], [Amount], [InterestRate], [StartDate], [DueDate], [DebtType], [Status], [AccountID], [PaidAmount]) VALUES (N'DEB003', N'USER001', N'Batman', CAST(12000000.00 AS Decimal(18, 2)), 3, CAST(N'2026-03-27T00:00:00.000' AS DateTime), CAST(N'2026-03-31T00:00:00.000' AS DateTime), N'Đi vay', N'Active', N'ACC005', CAST(1360000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Transactions] ([TransID], [UserID], [AccountID], [CategoryID], [DebtID], [Amount], [TransType], [TransDate], [Note]) VALUES (N'TNX0001', N'USER001', N'ACC003', NULL, N'DEB004', CAST(148970.00 AS Decimal(18, 2)), N'Expense', CAST(N'2026-03-27T00:00:00.000' AS DateTime), N'Trả nợ cho: iron man')
INSERT [dbo].[Transactions] ([TransID], [UserID], [AccountID], [CategoryID], [DebtID], [Amount], [TransType], [TransDate], [Note]) VALUES (N'TNX0002', N'USER001', N'ACC005', NULL, N'DEB003', CAST(1360000.00 AS Decimal(18, 2)), N'Expense', CAST(N'2026-03-27T00:00:00.000' AS DateTime), N'Trả nợ cho: Batman')
INSERT [dbo].[Transactions] ([TransID], [UserID], [AccountID], [CategoryID], [DebtID], [Amount], [TransType], [TransDate], [Note]) VALUES (N'TXN0001', N'USER001', N'ACC001', N'C001', NULL, CAST(10000000.00 AS Decimal(18, 2)), N'Income', CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Lương tháng 3')
GO
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash]) VALUES (N'USER001', N'chien', N'12345')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash]) VALUES (N'USER002', N'an', N'54321')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash]) VALUES (N'USER003', N'jack', N'123')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AccountName]    Script Date: 3/28/2026 5:37:34 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_AccountName] UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4899652F3]    Script Date: 3/28/2026 5:37:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT ((0)) FOR [InterestRate]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Debts] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Accounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([DebtID])
REFERENCES [dbo].[Debts] ([DebtID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD CHECK  (([CategoryType]='Expense' OR [CategoryType]='Income'))
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD CHECK  (([DebtType]=N'Đi vay' OR [DebtType]=N'Cho mượn'))
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD CHECK  (([Status]='Finished' OR [Status]='Active'))
GO
USE [master]
GO
