<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_FinancePersonalManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Project_FinancePersonalManagement.Properties.Settings.PersonalFinanceDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=PersonalFinanceDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Project_FinancePersonalManagement.Properties.Settings>
            <setting name="UserSaved" serializeAs="String">
                <value />
            </setting>
            <setting name="PassSaved" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRemembered" serializeAs="String">
                <value>False</value>
            </setting>
        </Project_FinancePersonalManagement.Properties.Settings>
    </userSettings>
</configuration>